[build]
  base = "client"
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "https://ginvoice1.onrender.com/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/entitlements"
  to = "https://ginvoice1.onrender.com/entitlements"
  status = 200
  force = true
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200